body{
	 margin: 0;
	 padding: 0;
	 background: url(img/8.jpg);
	 }
	 h1{
	 text-align:center;
	 background:#009;
	color: white;
 }
 h2{
   text-align:center;
	 background:#009;
	color: white;
 }
 h3{
	 text-align:center;
	 background:#009;
	color: white;
 } 
 h4{
	 text-align:center;
	 background:#009;
	color: white;
 } 
 h5{
	 text-align:center;
	 background:#009;
	color: white;
 }  